
# NODE_ENV=development
NODE_ENV=production

DATABASE_URL="your_database_url_here"
FRONTEND_URL=http://localhost:3000
PORT=5000
APP_URL=https://grid-flow-backend.vercel.app
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=your_access_token_expiration_here
JWT_REFRESH_EXPIRES_IN=your_refresh_token_expiration_here
BCRYPT_SALT_ROUNDS=your_bcrypt_salt_rounds_here
GOOGLE_CLIENT_ID=your_google_client_id_here

# Admin Credentials
ADMIN_NAME=admin1
ADMIN_EMAIL=admin gmail here
ADMIN_PASSWORD=admin password_here

# Demo Zone Manager Credentials
ZONE_MANAGER_NAME=zone_manager1
ZONE_MANAGER_EMAIL=zone_manager_email_here
ZONE_MANAGER_PASSWORD=zone_manager_password_here

# Demo Technicians Credentials
TECHNICIAN_ONE_NAME=technician_one
TECHNICIAN_ONE_EMAIL=technician_one_email_here
TECHNICIAN_ONE_PASSWORD=technician_one_password_here

TECHNICIAN_TWO_NAME=technician_two
TECHNICIAN_TWO_EMAIL=technician_two_email_here
TECHNICIAN_TWO_PASSWORD=technician_two_password_here

# Demo Customer Credentials
CUSTOMER_NAME=customer1
CUSTOMER_EMAIL=customer_email_here
CUSTOMER_PASSWORD=customer_password_here

# redis
REDIS_USER=default
REDIS_PASSWORD=your_redis_password_here
REDIS_PORT=your_redis_port_here
REDIS_HOST=your_redis_host_here

SMTP_USER=your_smtp_user_here
SMTP_PASSWORD=your_smtp_password_here
EMAIL_SENDER=your_email_sender_here

# cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# bkash

BKASH_BASE_URL=your_bkash_base_url_here
BKASH_USERNAME=your_bkash_username_here
BKASH_PASSWORD=your_bkash_password_here
BKASH_APP_KEY=your_bkash_app_key_here
BKASH_APP_SECRET=your_bkash_app_secret_here
BKASH_CALLBACK_URL=your_bkash_callback_url_here

PRIORITY_RESTORATION_FEE=your_priority_restoration_fee_here